<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="StartFromDate" value="11/12/2020 00:00:00"/>
    <add key="API_Key" value="0a218575-c425-481b-94bc-772be2c74827" />
    <add key="CRMUserName" value="hubspot.integration@followoz.com" />
    <add key="CRMPWS" value="asdf@7071"/>
    <!--production instance-->
    <!--<add key="CRMApiURL" value="https://aajtechnologies.api.crm.dynamics.com/XRMServices/2011/Organization.svc" />-->

    <!--sandbox instance-->
    <add key="CRMApiURL" value="https://ozsandbox.api.crm.dynamics.com/XRMServices/2011/Organization.svc" />
  </appSettings>
</configuration>